@use '~@angular/material' as mat;

@mixin uh-child-component-theme($theme) {
  $warn: map-get($theme, warn);

  uh-child {
    > div {
      border-color: mat.get-color-from-palette($warn);

      > h2 {
        color: mat.get-color-from-palette($warn);
      }
    }
  }
}
