@use '~@angular/material' as mat;

$uh-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$uh-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$uh-black-warn: mat.define-palette(mat.$red-palette, 500);

$uh-black-theme: mat.define-dark-theme(
  $uh-black-primary,
  $uh-black-accent,
  $uh-black-warn
);
