@use '~@angular/material' as mat;

$uh-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$uh-accent: mat.define-palette(mat.$light-blue-palette);
$uh-warn: mat.define-palette(mat.$pink-palette, 600);

$uh-theme: mat.define-light-theme($uh-primary, $uh-accent, $uh-warn);
