@use '~@angular/material' as mat;

$uh-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$uh-light-accent: mat.define-palette(mat.$brown-palette, 200);
$uh-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$uh-light-theme: mat.define-light-theme(
  $uh-light-primary,
  $uh-light-accent,
  $uh-light-warn
);
