@use '~@angular/material' as mat;

$uh-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$uh-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$uh-nature-warn: mat.define-palette(mat.$red-palette, 600);

$uh-nature-theme: mat.define-light-theme(
  $uh-nature-primary,
  $uh-nature-accent,
  $uh-nature-warn
);
