@use '~@angular/material' as mat;
@import '../../../styles-variables.scss';

.background {
  background-color: mat.get-color-from-palette(mat.$indigo-palette, 400);
  height: 400px;
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.main-heading {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.search-container {
  width: 100%;
  max-width: 600px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1;
  margin-right: 1rem;
}

.search-button {
  height: 56px;
}

.bg-white {
  background: white;
}
