@use '~@angular/material' as mat;

@mixin uh-parent-component-theme($theme) {
  $accent: map-get($theme, accent);

  uh-parent {
    > .container {
      > .row {
        > .col-md-6 {
          > .example {
            border-color: mat.get-color-from-palette($accent);

            > h1 {
              color: mat.get-color-from-palette($accent);
            }
          }
        }
      }
    }
  }
}
